<%
  const item = it.item;
  const images = item.images && Array.isArray(item.images) ? item.images : [];
%>

<li>
  <a class="Txd-n C-ih -Sz100p D-f Fld-c -Bdy -Bdyc-$accent750 -Bdyc-$brand_h Ts-bd,0.3s,e Cs" href="<%= item.link %>">
    <slider-component>
      <div class="P2.5u">
        <div class="swiper">
          <div class="swiper-wrapper">
            <% if (images.length) { %>
              <% images.forEach(img => { %>
                <div class="swiper-slide">
                  <div class="W100p H244">
                    <img src="<%= img %>" alt="<%= item.title %>" class="-Sz100p Ojf-cv Ojp-c Bdrd8">
                  </div>
                </div>
              <% }); %>
            <% } else { %>
              <div class="swiper-slide">Sorry, but there are no images</div>
            <% } %>
          </div>
          <div class="swiper-pagination"></div>
          <div class="D-f Jc-sb -Sz100p Ps-a T0 Zi1 O0 O1_h -Ts md_O0_h">
            <button class="prev P1u Bg-n Bd-n Bdrd8">
              <svg class="Fi-$gray200 Fi-$brand_a -Ts Tf -Rt180d Cs" width="26" height="26">
                <use href="/assets/img/icons.svg#arrow-swiper"></use>
              </svg>
            </button>
            <button class="next P1u Bg-n Bd-n Bdrd8">
              <svg class="Fi-$gray200 Fi-$brand_a -Ts Cs" width="26" height="26">
                <use href="/assets/img/icons.svg#arrow-swiper"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </slider-component>
    <div class="D-f Fld-c P2.5u Bdt1;s;$accent750">
      <span class="Mb3u Fns4u"><%= item.title ?? '' %></span>
      <span class="Fns3u C-$gray350"><%= item.description ?? '' %></span>
    </div>
  </a>
</li>
