<%
  const tag = it.optTag ?? 'li';
  const item = it.item;
  const images = item.images && Array.isArray(item.images) ? item.images : [];
  const defaultImage = images[0] || '';
  const othersImages = images.filter(image => image !== defaultImage);
%>

<<%= tag %>>
    <a class="Txd-n C-ih W100p H100p D-f Fld-c Bdt1;s;$accent750 Bdb1;s;$accent750 Bdt1;s;$brand_h Bdb1;s;$brand_h Ts-bd,0.3s,e Cs" href="<%= item.link %>">
        <slider-element
            src="<%= defaultImage %>"
            alt="<%= item.title %>"
            data-hover-slides="<%= othersImages %>"
            data-options='{"touch": "end", "infinite": false, "preventScroll": true}'
        >
            <div class="W100p H264 P2.5u Ps container">
              <% if (defaultImage && othersImages.length) { %>
                <img 
                  src=""
                  alt=""
                  class="W100p H100p Ojf-cv Ojp-c Bdrd8 hover-switch-image"
                />
                <button id="back" class="D-f P1u Bgc-$blueGray Bd-n Bdrd8 Ps-a T119 L16 md_D-n">
                  <svg class="Fi-$accent900 Fi-$brand_a Ts-shortTs Tf -Rt180d Cs" width="26px" height="26px" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                    <polygon points="150.46 478 129.86 456.5 339.11 256 129.86 55.49 150.46 34 382.14 256 150.46 478"/>
                  </svg>
                </button>
                <button id="next" class="D-f P1u Bgc-$blueGray Bd-n Bdrd8 Ps-a T119 R16 md_D-n">
                  <svg class="Fi-$accent900 Fi-$brand_a Ts-$shortTs Cs" width="26px" height="26px" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                    <polygon points="150.46 478 129.86 456.5 339.11 256 129.86 55.49 150.46 34 382.14 256 150.46 478"/>
                  </svg>
                </button>
              <% } %>
            </div>
        </slider-element>
        <div class="D-f Fld-c P2.5u Bdt1;s;$accent750">
          <span class="Mb3u Fns4u"><%= item.title ?? '' %></span>
          <span class="Fns3u C-$gray350"><%= item.description ?? '' %></span>
        </div>
    </a>
</<%= tag %>>
