<%
  const css = {
    tongue: 'Ps-a_af Ct_af W50p_af Apcr1_af T5p_af L25p_af Bd2;s;$mushroomBlack_af Bdt-tp_af Bdrd40p;70p;0;0_af -Gdrd-cr;fts;at;70p;10p,$mushroomWhite,$mushroomRed_af',
    mushroomShadow: 'Ps-a_b Ct_b T55p_b L12p_b W70p_b H20p_b Bdrd50p_b -Gdrd-el;fts;at;50p;50p,$mushroomDarkGreen;0;75p,tp_b Tf_b Tfo0;0_b -Rt3d_b',
    eye: 'Ps-a T28p W35p Apcr1 Bd1u;s;$mushroomBlack Bdrd50p Bxsd-i;0;0;0;1u;$mushroomWhite -Gdrd-cr;at;60p;65p,$mushroomWhite;0p;20p,$mushroomBlack;0p;100p',
    tooth: 'Ps-a T42p L5p W30p Apcr1 Bd2;s;$mushroomBlack Bdrd50p;50p;0;0 Bgc-$mushroomWhite',
    stain: 'Ps-a Bd2;s;$mushroomBlack Bdt-tp Bdrd70p Bgc-$mushroomWhite'
  }
%>


  <div class="-Sz100p Ctnt-s D-f Jc-c Ai-c -MushroomBrown#ad511c -MushroomRed#fc0522 -MushroomBlue#51dbc4 -MushroomBody#fffac7 -MushroomGreen#819e49 -MushroomDarkGreen#072b09 -MushroomBlack#000 -MushroomPink#e57e8a -MushroomWhite#fff Ov-h">
    <!-- Frame -->
    <div class="@c:apcr>=1_H85p @c:apcr<=1_W85p Apcr1 Ps-r Bd1u;s;$mushroomBlack -Gdl0d,$mushroomGreen;40p,$mushroomBlack;40p;41p,$mushroomBlue;41p;100p">
      <div class="<%= css.mushroomShadow %>"></div>
      <!-- mushroom body -->
        <div class="Ps-a T27p L12p W70p Apcr3/2 Bd1u;s;$mushroomBlack Bdt-tp Bdrd40p;60p;40p;60p/65p;65p;35p;35p Bgc-$mushroomBody Bxsd-i;-1u;-3u;5u;2u;$mushroomBrown">
            <!-- mushroom eyes -->
            <div class="<%= css.eye %> L8p"></div>
            <div class="<%= css.eye %> L73p"></div>
            <!-- mushroom mouth -->
            <div class="Ps-a T58p L43p W30p Apcr2/1 Bdb1u;s;$mushroomBlack Bdrd50p Ov-h">
              <div class="<%= css.tongue %>"></div>
              <!-- mushroom teeth -->
              <div class="<%= css.tooth %> T42p L5p"></div>
              <div class="<%= css.tooth %> T56p L35p"></div>
              <div class="<%= css.tooth %> T42p L65p"></div>
            </div>
        </div>
        <!-- mushroom cap -->
        <div class="Ps-a T-3p L-8p W115p Apcr3/1 Bd1u;s;$mushroomBlack Bdt-tp Bdrd60p;40p;40p;60p/75p;75p;25p;25p -Gdrd-cr;fts;at;50p;-10p,$mushroomPink,$mushroomRed Ov-h">
            <div class="<%= css.stain %> T20p L2p W42p Apcr2/1 Tf -Rt5d"></div>
            <div class="<%= css.stain %> T30p L62p W40p Apcr2/1 Tf -Rt-5d"></div>
            <div class="<%= css.stain %> T5p L44p W25p Apcr3/1"></div>
        </div>
        <!-- little mushroom -->
        <div class="Ps-a T85p L70p W10p H7p Bd1;s;$mushroomDarkGreen Bdrd0;0;40p;40p Bgc-$mushroomBrown"></div>
        <div class="Ps-a T80p L60p W30p H10p Bd2;s;$mushroomBlack Bdt-tp Bdrd40p;60p;40p;60p/65p;65p;35p;35p -Gdrd-el;fts;at;30p;10p,$mushroomPink,$mushroomGreen Bxsd1u;3u;5u;1u;$mushroomDarkGreen">
          <div class="<%= css.stain %> T20p L12p W32p Apcr2/1 Tf -Rt5d"></div>
          <div class="Ps-a T42p L72p W12p Apcr2/1 Bd1;s;$mushroomBlack Bdrd70p Tf -Rt-5d Bgc-tp"></div>
          <div class="<%= css.stain %> T8p L46p W25p Apcr3/1"></div>
        </div>
    </div>
  </div>
